<!--
  @description       : 
  @author            : kavya.konagonda@mtxb2b.com
  @group             : 
  @last modified on  : 06-17-2021
  @last modified by  : kavya.konagonda@mtxb2b.com
  Modifications Log 
  Ver   Date         Author                       Modification
  1.0   06-17-2021   kavya.konagonda@mtxb2b.com   Initial Version
-->
<template>
    <lightning-card icon-name="custom:custom19" title='Read CSV File and plot Datatable'>
        <div style="margin-left: 3%">
            <lightning-file-upload accept={acceptedFormats} label="Attach receipt" multiple="multiple" onuploadfinished={handleUploadFinished} record-id={recordId}></lightning-file-upload>
        </div>
 
        </div><br />
 
        <div if:true={data}>
            <lightning-datatable columns={columns} data={data} hide-checkbox-column="true" key-field="id"></lightning-datatable>
        </div>
 
    </lightning-card>
</template>